<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qut.mapper.CommonMapper">
	<!-- 职位列表 -->
	<select id="titleQuery" parameterType="String" resultType="com.qut.pojo.Common">
		select
		b.parameter_values as "value",
		b.parameter_name as "name"
		from
		parameter a,
		paracode b
		where
		a.name = #{name}
		and
		a.code = b.code
	</select>
	<!-- 参数查询 -->
	<select id="parameterQuery" resultType="com.qut.pojo.Parameter">
		select
		parameter_id as "id",
		code as "code",
		name as "name"
		from
		parameter
	</select>
	<!--参数列表查询 -->
	<select id="parameterCodeQuery" parameterType="String"
		resultType="com.qut.pojo.Parameter">
		select
		code_id as "id",
		parameter_values as "code",
		parameter_name as "name"
		from
		paracode
		where
		code = #{code}
	</select>
	<!--病房类型-->
	<select id="wardTypeQuery" resultType="com.qut.pojo.Parameter">
		select
		type as "value",
		name as "name"
		from
		category
	</select>
	<!--民族查询-->
	<select id="nationQuery" resultType="com.qut.pojo.Parameter">
		select
			nationNum value,
			nationName name
 		from
			nation
	</select>
	<!-- 参数插入 -->
	<insert id="parameterCodeInsert" parameterType="com.qut.pojo.Parameter">
		insert into paracode(code,parameter_values,parameter_name)
		values(#{code},#{value},#{name})
	</insert>
	<!-- 参数更新 -->
	<update id="parameterCodeUpdate" parameterType="com.qut.pojo.Parameter">
		update paracode 
		set code=#{code},
		parameter_values=#{value},
		parameter_name=#{name}
		where 
		code_id = #{id}
	</update>
	<!-- 参数删除 -->
	<delete id="parameterCodeDelete" parameterType="com.qut.pojo.Parameter">
		delete 
		from paracode 
		where 
		code_id = #{id}
	</delete>
</mapper>